services:
  denscord_server:
    build: .
    volumes:
      - .:/denscord_server
    ports:
      - '8000'
    environment:
      PROJECT_NAME: ${PROJECT_NAME}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS}
      DATABASE_URL: ${DATABASE_URL}
      SALT_SECRET_KEY: ${SALT_SECRET_KEY}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}